*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color:rgb(165, 167, 168); 
    padding: 3%  6%;
   
}
.navbar{
    
    text-align: left;
}
.navbar ul li{
     list-style: none;
     display: inline-block;
    padding: 5px 10px;
    position: relative;
}


.navbar ul li a{
    color: black;
    font-size: 25px; 
}

.header{
    font-size: 20px;
}

.culture{
display: flex;
font-size: 25px;
text-align: center;

}
.aboutus{
    width: 70%;
    margin: auto;
    padding-top: centre ;
    text-align: 10px;
    

}
.aboutus p{
padding: 0px;
}


.mount
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo-IBbSPwSYTN9RSJO71gVTtYBp9RpWPqzqw&usqp=CAU);
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    text-align: right;
    padding-left: 5px;
    font-size: 25px;

}

.field{
    background-color: rgb(169, 162, 162);
    font-size: 25px;
}
.field label{
    text-align: right;
    font-size: 25px;
    
}
.discover
{
    background-image: url(DQ0NDE0NP/AABEIALcBEwMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAACAwABBAUGB//EADYQAAICAQMDAwIEBQMEAwAAAAECABEDEiExBEFRBSJhE3EGMoGRQqGx0fBSweEVI2LxFDOC/8QAGgEAAwEBAQEAAAAAAAAAAAAAAQIDAAQFBv/EACERAQEBAQABBAMBAQAAAAAAAAABAhEDBBIhMRNBURQy/9oADAMBAAIRAxEAPwBSGPQzKhmhDOex6srQhjUMQkasSwT1MNTEqYwGLWhoMK4oNLBk9RWHAwwYgGGDEow0GGDFAwgZOqQ0GGDFAwwYlGGCEDABliJRMuQQZcWguXKlxKySSSReskkkk3WVJLkjRklS5KjwEqSpcupTMCsfW9cuErrDBHJH1ALVW7A/f/ac/qPxNgxhiwyAIF1FlIGtlLBbFg8USOLE1euYMWTEceV/phgSKYq1gbkAEEkC9v7bfKfVOr+llyIjsGRmUZMrucuXGrA6GofwlAOexXfed3h8WdRw+fzaxfh7vP8AjHH07H6+t8bgNjZMaqytSXjqzq2JbVfwZs9L/F3SdTtjLBqLFXKIVAqg2ogXR7WNjuanyXB0uvIxyPhRgup2yZLDsx/hK6r2N2LA2O0y58elyNv4gGRwyshJGzDkcidX4M1yX1W58/p9Z6n1n0rIxd3XWa1XnyJuBXANdue/Mk+Q6R4kh/zz+k/16/j6ehj0MyqZoQxLHfK1IY1TM6GNUxbDSnKYYaJDQtUSw0NDQgYoGWDEsUlPBhKYlTDUydhocDDBiQYamTsPDVMYpilMJTJ2GOUwxFKYwGTphCEIAhCJQopcqXEtBckkkXoJJJJNKySSS48ZQliXBdwos7CwP1JoSuYHViWJlbr8Y0ktQfXTHYDQCTf7bRidWhRXJoOL2tqFEkmuAKO/xL5xf4ndz+ker5MQxOuQB6xl/p6dRO+lT8e4gAmv5GfM/XuqwHEjY0yO2JPonMqIqszFXZMhoEEBiBz5Nncd78TfivBjOXHjDucifSfYOmrfTVmh+YkjkBV4vbwf1XzYwgOPRjxh2T2Yy4XlVFAlvzE0Te/FUPQ8Hjsna831HlmryMi9PposAyF1QhWt9V/lUWLNV+j+eL6sKHbQmhAaC7kiuzXuG8g9weZvOVx70CsE0sya9YCBFUtkWgGUhV21VuRvcx+o9Sc2RshLe/8A1adXtoflUAAEb8c3Oqd64tc4zPYO4HAPPkXJKsfJ/SSOlx9IQx6GZlMchnPY9iVpQxqtMymNVolhpTg0IGI1wg0Sw8p4aEDEBoQaTsPKephhogNGK0SxSU9TDUxCtDDSdh5WhTGAzMrRqtJWHh6mGDEq0YrSeopDQYQiwYQMnQsMlwQZYkaSilypIloLlypJpWXIJJBLZYvLl0jUQasXQuh/q+w7zzXWfjDEt6Ppsis65DrYNSrdIK93DcHtxvNvq34ixdMwx5NnZWIUKXvSNRAG12KrcbsB5nzD1T1Nh1j5sa/TY2KyIocEgqWdV2DkEjbsZ6Xp/B7v+o4PU+o9n1XZ6LOuV2yMVKdMy5cSimyJVFcbAfw776aOx9onIPrnVYsbYASup2ZWDMy/TbVqUb0yEuzC+5sVtOVjzOgIRtKuDYAAP6eOa25EF8p47LYCnhQTdAdt56M8cl+Xl689s+Ptf1v9duNDY7b30psgqD3Db3crpfp/UC5Gf6RLLrUe9QQQGAv53G/J5iWe/wCn/uD+v+eJTic1f21KyKjBd9aqGux7tRal+BSHf5+CEHJYA7LYAq6vkA9v+YBO/b+kmqGBflVy5Wr4EkLcfRVMchmdY5JOx6crQphAxSmGDEsPKPVLDQLl3EsPKaHhBogGErRLk8rQGhhpnDRitJ3J5WhWhq0zhoxWk7lSVoVoxTMytGq0lrKkrSpjFMzK0YrSWsqStKmGDEK0YrSOoY0GGDFAwgZHUCwwGMxYyzAAEk8ARIM734eximbvYH2FX/v/ACm8Pi/L5JnvOufz7/Hi6Zv+jZav2X4s/wBqmHJjKkgggjkGeynD/ESClbvZH3FX/n3nb6j0WfHj3Zv04/B6netzOv24853rHqadOnuYq7q4xnbScgUlVLGlUtRAsiyKubwZzvXemxZMDnKqEBDp1Lq91gqANrJYL3Ej4JLqe52eTszePlPrPrB6xw2TS4GtcRKEP760qSDwCPHc7+ONqAGki65Nij4rbYb/AKx+XpmQ3qUqhOk1ZatwxXcfsSB58grlhVAkazZFuQQbJ+FAJ8T6DGZJ8Pn/ACW6vdfZeXIGZmAoMzELdhQTsovsBtFk7wmr5/Wos1GSS/O0gMEyXCPEuXUGpYEwj0/MkLSJUYvXv1MchiQYxZOx6E0cph3FiXcHDSjuWDFXCBi2HmjAYQMVcu4lik0cGhhogGGGk7lSaaFaGGmZWjFaJcnmmlWjFaZVaMV5PWVJpqVo1WmRXhq8lrKmdNitGq0xq8NXktZUmmwNDBmZXhq8jrButAM2+m9ecLXVqdmHfbgj5nPDQokms6ms/FhPJ45vNl+q9T/1vFV21+NJv9+P5zi9f1pzNdUBso5odyfmYbhCW35fJ5Z7dX4c/j9Njx33T7HdCzwBZnlfXfxT0Y1Yg7u6qQVxtSM3OlhY1eaPtPBO9Hr5fV8WtsQdfqBNezoPbV2CbF9+/B+0+TeqoCxy2zs5ZzqbEQPcVJOkLROkUK3BFTr9L4J3tc/qvPzPM/P9ZlyJjBXHT7jS7alZCCD+W9JFWpsb2eLIOR27nkm/G/PENBqutO38J5NmrHmtv8uAw4+dyO23f+s9STjxdat+wGUR+/8ASQj7nuZVfH85gUZUsiVpmMgWGqygIxajQtqaZJeqXMX5e5BjVMQDGKYeO2aPBl3FgwriWGmhXJqgXJcXh5owGWGirlgzWHmjQYQaJDSw0ncnmmgNDVpmDQg8W5UmmpXhq0yB4YyRLlSaa1eMV5iV4xckncHm21Xhq8xq8NckncHm25XjFeYleNV5O4Um21Xhh5kXJGK8X8Y+9qDzxH4w/EH08inDmdXxjJhyYympNdggsLFXvR3v/wDJnsdVjY1tzPAep/h9sYzdXmyj6iudD47U6yL1KDxV6tjq1XueTfwYzNdrj9VvXt5lw8v4hyZHD5Uxs4DjWqhWoge0ggrVgHdTxXczn58yvTDVYRVKsbUkHhfdYG5O3cnjmdTp/SR9LJm+oQ1aULK31Mhc6WVUO9BSbYgcGqomcjJgZdIOm2TXSg2ouiOBZ27WL78zvz7f08rXu58/I+ryoW/7a6cenSt1rK3dtXJ27/8AMz12HO3ELEhb2qFt2VQWKiue52H3+PmNdWxOQw3oiwdmBFEg8EHfeU+kbO/JOSwB9zY25Bq4thXgg+OOOP5y2bgHsPiRVBHIv522+/6fzgAJEsSpYmYamUSZAJISi3klSQs9uDGqYkRimNxeU4GXcWDCuAZpdyXKJlXNYeaFclwLl3F4M0K5dwLl3F4eaMDSw0VclwWHmjg0MNM4MIGL7TzZ4eGrzNqhBotyebaleGrzKGhK0S4Um21HjUeYlaNRotwP5G5XjVeYlaPRoPYP5GtHldThORdIc4+fcoJa6od6I3OzAg+PK0aPQwzPCa12PO9d6Vlw/wD15cmlnd6QO2R9RDZS/OoEbb8Fr3sCcT8NdD049wdXyam6fH9UNiUaWPvNC1Ndy38VEDTv7PL06/VHUscejHj/AO2CQNTsCobUeLDaRQ3vvtOD6l1eLJgyBw2NWYOGXEzBMhXUHWyG1DnVY3DbbMJWOXckvXjPV+iHTsB7fqOWakBCKhsUtMR52s7VsO/McgGvzVY7/wCfM6vVZvqtox42W7V8mQFsjNbW7AsVQU24ApbJHac10A2YnXpGy0QNhQJvkeB5+JWfTj19s5hLv3r5N/7SAiuOCT/T5+8tfNbf1+LhKcmE7agAKDAtYDD4P2v9j32itPJANDnYkC+Jb5CfgC9hsBfO01dD1b4CaVSHTS6soOrGSGYA8iwKvwxqYGMwgpA1djwe20t7YlqAs6iOAL32v7wR+/8ASEEuSdHF61mVQqlQFFD2J/aSFvh6QRixQMNZUZo4S7gAwovDSrJlSGVMbq5JUqKPRS7gXLBm4M0KXcGSDhpodyXBEKLw00sGWDBliDhpoYMYpihDWDh5s5TGoYhY5ILkZtoQwsubQhfSW0iyBzXcxaTQn+d7i+0fe8n6p6pWXVekBA/sbUAdVamFC1NjcHckVzY2v+KMCm11a2RGyU3tCVt5txqNmuR37+e9ZsuhxhwzJWkq+jQzAAEN9wDud9q3ucjDn0i2VSgZXGra/d+W+aq9gRxG9rnu7K+tegepY+pxbb7HVjfcrjP5b8qRx5mD8S9Ti6dGWkbK6E4vqgDEl2B4BqjQo+NrnE/DPWhSiUyuxJcBmY4lC+0AEUAfd97+SZ6r1TJ07lEyLqx5dORMgI0UN2IJNAaQCa3ok/IHPk3u7Hzfqc4+kSqhibcuGKIcgb3OAx1M3Bvbje6InHXSRZJLWLXsV7nVd3+k+g/iT0zo+mJyIiBmZWRQzFdTH3exAAnCaSD5P38J1mUZHZ6IZnYsPaQN9gCOe4v7c3HiG5wknkDg/oSP3jWJ+npA9qkO2y7MfaN+d/H9okL+8NWNbEi74JH3jJdKqaMudm0hmJCIEBJZvYNtgx8UANtgIokk2SSTZJ5JPmdIdCVx3lQ4w5vHkcNVAamHtuybUDUO/PgDGDJjYbtR3q7v/nsf2igYbsQSt6gDWxJU1sCL7bn94AhBckuxKm6D2YhrAEYJdhiGICwhFHq5UKUYKPQyS5Jh6qXUlSRR6kuQCXUxuoIQEgEsCHg9QSwJYEICDg9QCGokCw1WDg+5aiNQQVWNQReG9xiCea6/15unbJjbUupdIdTrdMtDeyNJIXTtttvzPUIJ5D8S5sGPOE+kF1Au+TGinJbfxID7Q11Zqztv2Isa6D6R6ycrBHQDIqltTFceK9SsdS0CWul3sG+OSZ6x0eNkGTGMCMo1HDjQBnZa3H8KnYkAE3TCjU5/quRsqgBC2IezHkXB9MmgBdGwt9yKB032NYnfKmp3TSrD6f5B9ME+4KNioI08c7fGw4S1WLr3x7JpIu7dQHO1UT44Nfp5vX1Hr2fMqpkelVgVKJiVlO4YrsKsVtfnsTOQQLpeN68mWqEmuO/uNCrq/wDPEbifur1OPqceYphCu+cIFRhkdi5A1Kr67TYLXgg1tVjl4ejARCQGbOKC+7Ue4s17NmTi7B+18e658d9/mdvJ6nrKPkLB0wjGXW9bMmyM2ojUKrbY7czN3v2wv0+jIcbhhpNOapwoollB+Aa+8i5EUcayy6SGFBT2YHz3/wDZtWXOWa6CHwgCL+gHiADvdXxz94xG3BiXQGYBW3Zdmf6i6WsaQa2o2b222lZup1CyFOnSEBUAAe69t9uB42/SPbqW+k2N7TUobGQBorc6Vq/zbC7rac9nDA8AjT25PF/HEDUDgX2N77ChAEamMtxfjzZ5AFd4qYEkk/b9xJAL2KmNWJWNWdBYYIYixDEURiXUglwMHTJUOpKmEFS6hVLqYYECWBCCwwswg0wgsMLCCxTQAWEFhhf7ed/E43X+vJjtcelyP4r1Jfil+dqJHeHrd47KrDAnkx+J8moEY0oAiyWUkeO9b/fgcb31vT/WxnJQ4ynt3JbWLINcDjjc1B1pqO0qRqrKfYeCTpHf3G6jUomgRfi9xAfq1WYfXfThnxlSr5GOyoGITVeoORYAIqr5okd5sHVYwSpdVK2TqIUbUTueeZm6/wBe6fBszB2oHRjKs1E7Gr47xQ90eJ6zJnRCzB8JQELjZshUgsC2NAx9oAHH/i3NAzmeoZ1dzoBTGdJKBmYBiL4Y8i6+w5PM9Z6/+JcGQBETHkX3e5w2paBIoED43vY/vPHhqW6tCAFo0QQSdLdvFit+0AW/AFC1dkEMPjbfjyf2r57BqPk7j53B/wAMcmdQCDrLXqUghVBu+PAPeKFsedye5A3/AKCElRQRxz9gY18WnuDQFg8/evG37EQNJUkEbjbng/pIzk1ZuhpF9h4hKPUrNbkgdyBZ/aCtd7PkA0f0NGBLEINadU/w2xA1AGgQykUdv4ifvF4XQEal1DUD+YjYcjbtEkyATVjVcr+U13+dvtxEsJGgwNF7yQZcAvXiOUxEYhl6SHLGCKUxggMaJYgqZbZAotiFFgWdhZ2G8AmAS6ic3V48f5mA9wUjki+58D5McjqSQCNqvfi+JmQLC0xGPrULFNWlwWFHbjyeAaINHeu0MdVjsDWu9d6G91v+hijDgIQEpmC8kDYnc1sOTLTIrC1ZWHlWBH8phEBMHreHI+Kse5Fk0BrAo7qSR9vO/wCh6Si+Nx8Ties+p5EvHiCcNqYHWarcjahsR55Hcias8qc2VbGrMgcD8zOupQdvuBEliTqNseSSdRPmyYTOXYlmJ8lmGwvyZFugVo2Owvuef84ImLTARpAChuW3HFHcfaiOZt6DFlx6cqqyW1C0tmrSQFFe78wP2mQoVFk6bXUgBUagx5I/hFDg1x8iacPqGTGNDqrKoKhHDe0k3Y39pBuiNh4mafH29Jl9ZOtNaMcak5g7AoXGh0GnbSwJb2+dN1xPJ9S5di+RndyRep9Wlq4JPPb7VNPqHqmTP/pVPaBjT2oCLP5L3O5JPz2nP+nRo2PaWAqrFbc+fi4JGt6qoZc9zY+TcciIhvICQyFl0U1WDV77G/8APKziqqIYt4qhxyexh4QN3S7AWeSa3N2e39OY3PhABLljVAEHUKpq0/8AiSALGwA4NiU2BlAJGx4PIO9c/cEfp8i15CdNA/O5Nff+Q/aCwZq94SuQhSu1NR43H2PPf+UUv+byytckXz/X+0ERVBgy5RFSTFEJJUIgg0diNj5jAqWpgy7mZZgmE0ExWgb+385JUkHTPXwgZUk6EjkaMUy5IpjFMzdf1QRGFFiFV6oVRbSDueb378SSTC8+/Vq4UszPkH+pQzqndboBh+bn/eKXrnRVUMStA0bOoAnTf2FCvgeBKkiQb9mdf1P18tqpDb2SedIJ/oPPc/FV/wDIYklbV1ogggfexwd6P3vmSSEAt6lkfZzrUgKVoDbjY/wmtttviX0/VaXDWVtveQqkhOD4BP6ePAkkmFWTq/d7S6qS7hdTKuNmv3LRJ7/ePzersWJPuOkKzbKbFWRSjSCR23+ZJIGFkXHqxspJyOgYoihVxkLVAGgdhze1d4vqs65NWpTjZWyFyGYhmLEm9zv7lGwr58XJCzNk6dsaqxoo4DADkigRfjY9vMW2QG7FsdO9Bdhdiht4/aSSYP2ZhyhWPsQqTww1FRfY/wAv7R46RsgOSxpN252GrbsBfcDiSSasX1OEYzoIAYBSQCx57c18/rFLnetN7fIBkkmC/bodN1ihfplAw2/Md1fytbcbf7jaIzquzLdNqIFBSvx3scj9JJJiVeHoXyPjQWCeGBFixqAG/gau25MX6l0q4v8Athg7Y7LOthTqPgqDew88/pLkiqT6c9wRzKkkgGfS5JJIWS5Z/tKkmZCZUkkDBkkkgF//2Q==);
    max-height: 200px;
    width: 1200px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
   
}
